{% extends "Menu/menu.html" %} {% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />

<h4 style="margin: 25px; text-align: center">
    <i class="bi bi-calender fs-2"></i> Agenda de Eventos
</h4>

<a href="{% url 'event_form' %}" class="btn btn-success" style="margin: 10px">
    <i class="bi bi-plus"></i>
    Novo Evento
</a>

<div class="table-responsive">
    <table class="table table-sm table-striped" id="ticketTable">
        <thead class="text-center">
            <tr>
                <th>Ações</th>
                <th>Id</th>
                <th>Titulo do evento</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Agente</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    <a href="{% url 'event_update' event.id %}">
                        <i class="fas fa-edit" aria-placeholder="Editar" tooltip="Editar"></i>
                    </a>
                    <a class="text-danger" href="{% url 'event_delete' event.id %}">
                        <i class="fas fa-trash-alt" aria-placeholder="Deletar" tooltip="Deletar"></i>
                    </a>
                </td>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
                <td>{{event.user}}</td>
                {% empty %}
            </tr>

            <tr>
                <td colspan="9" class="text-center">Nenhum Evento encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Importando jQuery e jQuery UI -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<!-- Script para tornar as colunas redimensionáveis -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (typeof jQuery === "undefined") {
            console.error("jQuery não carregou!");
        } else {
            console.log("jQuery carregado com sucesso!");

            // Aplicando jQuery UI para tornar as colunas ajustáveis
            $("#ticketTable th").each(function () {
                $(this).resizable({
                    handles: "e",
                    minWidth: 50
                });
            });
        }
    });
</script>

{% endblock %}