{% extends "Menu/menu.html" %} {% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />

<h4 style="margin: 25px; text-align: center">
  <i class="bi bi-person fs-2"></i> Profiles
</h4>

<a href="{% url 'profile_form' %}" class="btn btn-success" style="margin: 10px">
  <i class="bi bi-plus"></i>
  Novo Profile
</a>

<div class="table-responsive">
  <table class="table table-sm table-striped" id="ticketTable">
    <thead class="text-center">
      <tr>
        <th>Ações</th>
        <th>Nome</th>
        <th>Documento (CPF/CNPJ)</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Ativo?</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
      <tr>
        <td>
          <a href="{% url 'profile_update' profile.id %}">
            <i class="fas fa-edit" aria-placeholder="Editar" tooltip="Editar"></i>
          </a>
          <a class="text-danger" href="{% url 'profile_delete' profile.id %}">
            <i class="fas fa-trash-alt" aria-placeholder="Deletar" tooltip="Deletar"></i>
          </a>
        </td>
        <td>{{ profile.name }}</td>
        <td>{{ profile.document }}</td>
        <td>{{ profile.email }}</td>
        <td>{{ profile.phone }}</td>
        <td>{%if profile.active%} Ativo {%else%} Inativo {%endif%}</td>
        {% empty %}
      </tr>

      <tr>
        <td colspan="9" class="text-center">Nenhuma Categoria encontrada.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof jQuery === "undefined") {
      console.error("jQuery não carregou!");
    } else {
      console.log("jQuery carregado com sucesso!");
      var jq = $.noConflict();

      // Tornar as colunas redimensionáveis
      jq("#ticketTable th").resizable({
        handles: "e",
        minWidth: 50,
      });
    }
  });
</script>

{% endblock %}