{% extends "Menu/menu.html" %}

{% block content %}
<h4 style="margin: 25px; text-align: center">
    <i class="fas fa-trash-alt"></i> Excluir profile
</h4>

<div class="alert alert-warning" role="alert">
    <strong>Você tem certeza que deseja excluir este profile?</strong>
    <br>
    <strong>Nome: </strong>{{ profile.name }}
    <br>
    <strong>Documento: </strong>{{ profile.document }}
    <br>
    <strong>Ativo?: </strong>{%if profile.active%} Ativo {%else%} Inativo {%endif%}
</div>
<form method="POST" action="{% url 'profile_delete' profile.id %}">
    {% csrf_token %}
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">Sim, excluir</button>
    <a href="{% url 'profile_list' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}