{% extends "Menu/menu.html" %}
{% block content %}
{% load custom_filters %}

<h4 style="margin: 25px; text-align: center">
  <i class="fas fa-tasks"></i> Meus Tickets
</h4>

<div class="table-responsive">
  <table class="table table-sm table-striped" id="ticketTable">
    <thead class="text-center">
      <tr>
        <th>Ações</th>
        <th>Prioridade</th>
        <th>Nº do Tkt</th>
        <th>Cliente/Empresa</th>
        <th>Título</th>
        <th>Status</th>
        <th>Criado Por:</th>
        <th>Previsto para:</th>
        <th>Equipe Atual:</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
      <tr>
        <td>
          <a href="{% url 'ticket_update' ticket.id %}">
            <i class="fas fa-edit" aria-placeholder="Editar" tooltip="Editar"></i>
          </a>
          <a class="text-danger" href="{% url 'ticket_delete' ticket.id %}">
            <i class="fas fa-trash-alt" aria-placeholder="Deletar" tooltip="Deletar"></i>
          </a>
        </td>
        <td
          style="background-color: {% if ticket.sla %}{{ ticket.sla.priority|get_color }}{% else %}#FFFFFF{% endif %}; color: white;">
          {% if ticket.sla %}
          {{ ticket.sla.get_priority_display }}
          {% else %}
          Não definido
          {% endif %}
        </td>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.client }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.created_by }}</td>
        <td>
          {% if ticket.due_date %}
          {{ ticket.due_date|date:" d/m/Y H:i" }} {% else %} Não definido {% endif %} </td>
        <td>{{ ticket.assigned_team }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="9" class="text-center">Nenhum ticket encontrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof jQuery === "undefined") {
      console.error("jQuery não carregou!");
    } else {
      console.log("jQuery carregado com sucesso!");
      var jq = $.noConflict();

      // Tornar as colunas redimensionáveis
      jq("#ticketTable th").resizable({
        handles: "e",
        minWidth: 50,
      });
    }
  });
</script>

{% endblock %}