{% extends "Menu/menu.html" %} {% block content %}

<h4 style="margin: 25px; text-align: center">
  <i class="fas fa-tasks"></i> Meus Tickets
</h4>

<div class="table-responsive">
  <table class="table table-sm table-striped" id="ticketTable">
    <thead class="text-center">
      <tr>
        <th>Ações</th>
        <th>SLA</th>
        <th>Nº do Tkt</th>
        <th>Cliente/Empresa</th>
        <th>Título</th>
        <th>Status</th>
        <th>Criado Por</th>
        <th>Previsto para</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
      <tr>
        <td>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-info btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Ações
            </button>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                href="{% url 'ticket_detail' ticket.id %}"
              >
                <i class="fas fa-eye"></i> Detalhes
              </a>
              <a
                class="dropdown-item"
                href="{% url 'ticket_update' ticket.id %}"
              >
                <i class="fas fa-edit"></i> Editar
              </a>
              <a
                class="dropdown-item text-danger"
                href="{% url 'ticket_delete' ticket.id %}"
              >
                <i class="fas fa-trash-alt"></i> Excluir
              </a>
            </div>
          </div>
        </td>
        <td>{{ ticket.sla }}</td>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.client }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.created_by }}</td>
        <td>{{ ticket.duo_date }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" class="text-center">Nenhum ticket encontrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof jQuery === "undefined") {
      console.error("jQuery não carregou!");
    } else {
      console.log("jQuery carregado com sucesso!");
      var jq = $.noConflict();

      // Tornar as colunas redimensionáveis
      jq("#ticketTable th").resizable({
        handles: "e",
        minWidth: 50,
      });
    }
  });
</script>

{% endblock %}
