{% extends "Menu/menu.html" %} {% block content %}
<h4 style="margin: 25px; text-align: center">
  <i class="fas fa-trash-alt"></i> Excluir status
</h4>

<div class="alert alert-warning" role="alert">
  <strong>Você tem certeza que deseja excluir este Status?</strong>
  <br />
  <strong>ID: </strong>{{ status.id }}
  <br />
  <strong>Descrição: </strong>{{ status.name }}
  <br />
</div>
<form method="POST" action="{% url 'status_delete' status.pk %}">
  {% csrf_token %}
  <input type="hidden" name="_method" value="DELETE" />
  <button type="submit" class="btn btn-danger">Sim, excluir</button>
  <a href="{% url 'status_list' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
